<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset mật khẩu</title>
    <link rel="stylesheet" href="TwoFactor.css">
</head>
<body>
    <div class="container">
        <h2>Mật khẩu của bạn đã được Reset</h2>
        <p>Xin chào,</p>
        <p>Mật khẩu mới của bạn là:</p>
        <div class="otp-code">@OTP_CODE@</div>
        <p>Vui lòng đổi mật khẩu sau khi đăng nhập bằng mật khẩu mới và <strong>TUYỆT ĐỐI KHÔNG</strong> chia sẻ mật khẩu này cho người khác</p>
        <p>Cảm ơn bạn!</p>
        <hr>
        <small>Đây là email tự động, vui lòng không trả lời.</small>
    </div>
</body>
</html>